<div>
  <form novalidate [formGroup]="form">
    <h1>Rechercher un voyage</h1>
    <p>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Name" formControlName="name" required name="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Type" formControlName="type" required name="type" />
      </mat-form-field>
    </p>
  </form>
  <a mat-raised-button color="warn" (click)="find()">Filtrer</a>
</div>


<div *ngIf="resources.length">
  <table [dataSource]="dataSource | formatDataSource" mat-table class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columns | keyvalue">
      <th mat-header-cell *matHeaderCellDef> {{column.value}} </th>
      <td mat-cell class="clickable" *matCellDef="let resource"> {{resource[column.key]}} </td>
    </ng-container>

    <ng-container matColumnDef="preview">
      <th mat-header-cell *matHeaderCellDef> Afficher</th>
      <td mat-cell *matCellDef="let resource">
        <a href="{{getViewUrl(resource.id)}}">
          <mat-icon svgIcon="preview"></mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Modifier</th>
      <td mat-cell *matCellDef="let resource">
        <a href="{{getEditUrl(resource.id)}}">
          <mat-icon svgIcon="edit"></mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Supprimer</th>
      <td mat-cell *matCellDef="let resource">
        <a (click)="delete(resource)" class="clickable">
          <mat-icon svgIcon="delete"></mat-icon>
        </a>
      </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let resource" [attr.colspan]="(columns | numkeys) + 3">
        <div class="resource-detail center" [@expansion]="resource == expandedResource ? 'expanded' : 'collapsed'">
          <div *ngIf="resource.descriptor">
            <div class="resource-descriptor" [innerHTML]="trust(resource)"></div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="(columns | keys).concat([ 'preview','edit', 'delete',])"></tr>
    <tr mat-row *matRowDef="let resource; columns: (columns | keys).concat(['preview', 'edit', 'delete']);"
        class="resource-row"
        [class.expanded-resource-row]="expandedResource === resource" (click)="showResource(resource)"></tr>
    <tr mat-row *matRowDef="let resourceRow; columns: ['expandedDetail']" class="list-row"></tr>
  </table>
</div>
<div *ngIf="!resources.length">
  <h1>Aucune ressource à afficher</h1>
</div>

