html, body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Roboto Light', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.center .mat-tab-labels {
  display: block;
}

.space-left-right {
  margin-left: 5px;
  margin-right: 5px;
}

.no-decoration {
  text-decoration: none;
}

.smooth-transition {
  transition: all 1s !important;
}

.fill-remaining-space {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fill-remaining-space .container, .fill-remaining-space > .container .fill-center {
  height: 100%;
}

.fill-center {
  flex: auto;
}

.space-bottom {
  margin-bottom: 32px;
}

.inherit {
  width: inherit;
  height: inherit;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

table {
  margin-top: 10px;
}

iframe {
  border: 0;
}

mat-form-field {
  width: 100%;
}
